.mainn {
  flex: 1;
  padding: 20px;
  height: 100vh;
}

.main-container {
  background-color: var(--main-background);
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
