// light mode
$main-color: #fff;
$secondary-color: #f0f4f9;
$icon-color: #3c4043;
$font-color: #1f1f1f;
$font-variant: #c4c7c5;
$chat-color: rgba(211, 219, 229, 0.38);
$chat-color-hover: rgba(211, 219, 229, 0.8);
$icon-hover: rgba(60, 64, 67, 0.1);

//dark mode

$main-color-dark: #131314;
$secondary-color-dark: #1e1f20;
$icon-color-dark: #e3e3e3;
$font-color-dark: #dadce0;
$font-variant-dark: #444746;
