.sidebar {
  padding: 25px 15px;
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  background-color: var(--surface-container);
  justify-content: space-between;
  color: var(--text-color);
}

.sidebar img {
  width: 20px;
}

.sidebar .menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;
}

.sidebar .new-chat {
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: var(--background-container);
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  color: var(--text-color);
  transition: 0.3s;
}

.sidebar .new-chat:hover {
  background-color: var(--surface-container);
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
}

.sidebar .recent-title {
  margin: 30px 0 20px;
}

.sidebar .recent-chats {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
  padding: 10px 40px 10px 10px;
  border-radius: 50px;
  color: var(--text-color);
  cursor: pointer;
}

.sidebar .recent-chats:hover,
.sidebar .down .down-entry:hover {
  background-color: var(--surface-container);
}

.sidebar .down {
  display: flex;
  flex-direction: column;
}

.sidebar .down .down-entry {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
  color: var(--text-color);
  cursor: pointer;
}
