@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Outfit", sans-serif;
}

.light-mode {
  #root {
    background: #fff;
    min-height: 100vh;
    display: flex;
    --text-color: gray;
    --surface-container: #f0f4f9;
  }
}

.dark-mode {
  #root {
    background: #131314;
    min-height: 100vh;
    display: flex;

    --surface-container: #1e1f20;
    --text-color: #fff;
    --background-container: #131314;
  }
}
